		.leaflet-tile-container { 
			pointer-events: auto; 
		}

		.map-container {
			width: 100%; 
			height: 100%; 
			padding: 10px; 
			position: relative;
		}

		#map {
			width: 100%; 
			height: 100%; 
			position: absolute; 
			opacity: 0.5;
		}

		#map-grid {
			-height: 100%; 
			-width: 100%; 
			position: absolute;
		}